<div class="index-container">
  <div id="top-information" class="mb-4">
    <div class="left-info">
      <%= image_tag "test_avatar.jpeg", id:"profile-picture"%>
      <div class="info-whitout-picture mt-2">
        <strong><%= @user.username%></strong>
        <div class="bio-info">
          <%= @user.bio %>
        </div>
      </div>
    </div>
    <div class="right-info">
      <div class="my-1"><strong><%= @user.points %></strong> Points</div>
      <%= link_to user_followers_path(@user), class:"text-decoration-none text-black" do %>
        <div class="my-1"><strong><%= @user.following.count%></strong> Followers</div>
      <% end %>
      <div class="my-1"><strong><%= @user.points%></strong> Events</div>
    </div>
  </div>
  <div class="follow-button-div">
    <% if @user.following.exists?(followed: current_user) %>
      <%= link_to 'Unfollow', user_follow_path(@user), method: :delete, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to 'Follow', user_follow_path(@user), method: :post, data: { turbo_method: :post } %>
    <% end %>
  </div>
  <div class="border-line"></div>
  <div class="d-flex justify-content-between align-items-center header-reviews mt-2">
    <h3 class="text-center mb-0 me-2 ps-2">Your messages</h3>
    <%= link_to "+", new_user_review_path(@user), class:"p-2 ms-2 text-decoration-none px-3 add-message-button" %>
  </div>
  <% unless @reviews.nil?%>
    <div class="review-card-container mt-2">
      <% @reviews.each do |review|%>
        <div class="review-card">
        <div class="author-line">
            <div class="avatar me-2"></div>
            <div><strong><%= review.author %></strong></div>
        </div>
          <div class="mt-1"><%= review.content %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
