<div class="d-flex justify-content-center">
  <div class="log-in-container">
    <h2 class="text-center mt-5">Send <%= @user.username %> a message</h2>
    <div class="log-in-form mt-3">
      <%= simple_form_for [@user, @review] do |f| %>
        <div class="form-inputs">
          <%= f.input :content,
                      required: true %>
        </div>

        <div class="form-actions d-flex justify-content-between align-items-center px-1 me-1 mt-4">
          <%= link_to "Back", user_reviews_path, class:"text-black back-button" %>
          <%= f.button :submit, "Send", class:"green-white-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
